@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Lato);

body {
    font-family: 'Lora', serif;
    font-size: 14pt;
    
    color: #030303;
    background-color: #F3F3F3;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4ex;
    
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1ex;

    width: 50em;
}

body.error {
    color: #300303;
    background-color: #FFF6F6;
}

p.submission {
    text-align: center;
}

p {
    margin-bottom: 8ex;
}

p.description {
    margin-bottom: 4ex;
}

.description {
    font-style: italic;
}

input[type="number"] {
    display: block;
    border-style: solid;
    border-width: 1px;
    padding: 0.2ex 1em;
    font-family: 'Lato', serif;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 100%;    
    text-align: right;
    width: 6em;
}

select,
button[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button {
    font-family: 'Lato', serif;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 80%;
    padding: 1ex 0.5em;
    text-transform: uppercase;
}

select {
    display: block;
}

select,
input[type="button"],
input[type="reset"],
input[type="number"],
input[type="file"] {
    margin-top: 2ex;
}

input[type="file"] {
    display: block;
    font-family: 'Lora', serif;
    font-size: 100%;
    color: #505050;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
