{% extends "base.html" %}

{% block page_title %}Dungeon excavator{% endblock %}

{% block content %}
<h1>Dungeon generator</h1>

<p class="description">
This is a tool for making quick maps for desktop or online role-playing game
tools. Load up textures for the floor (eg. some nice tiles) and the walls (eg.
stone), give a cutout of the floorplan, and this tool will make you a map with a
bit of shading so your players can have a sense of depth.
</p>

<form action="map" method="POST" enctype="multipart/form-data">
    <p>
    <label for="size">
    In the images, how many pixels represent a single tile? This will be used to
    scale visual effects such as lighting and the border.
    </label>
    <input
        id="size"
        name="size"
        type="number"
        min="0" step="1" value="100"
        required="true">
    </p>
    
    <p>
    <label for="floor">
    Select the floor texture. This will be tiled (repeated) underneath
    the other texture. It should be a PNG image.
    </label>
    <input id="floor" name="floor" type="file" required="true">
    </p>
    
    <p>
    <label for="walls">
    Select the wall texture. This will be tiled everywhere the floor isn't. It
    should be a PNG image.
    </label>
    <input id="walls" name="walls" type="file" required="true">
    </p>
    
    <p>
    <label for="floorplan">
    Select the floorplan. This should be a black and white image — any common
    bitmap format, eg. PNG, JPG, BMP; or an SVG image. If it&rsquo;s a bitmap
    image, it should be black where you want the floor to show and white or
    transparent everywhere else. If it&rsquo;s an SVG image, the first path in
    the file will be used.
    </label>
    <input id="floorplan" name="floorplan" type="file" required="true">
    </p>
    
    <p>
    <label for="format">
    What format do you want the result in? PNG/JPEG is good for immediate use eg.
    uploading to a TRPG service (JPEG is much smaller, so good for maps bigger
    than about 1000px in any direction), whereas SVG is good for further editing
    (eg. in Inkscape).
    </label>

    <select id="format" name="format">
        <option value="png">PNG</option>
        <option value="jpg">JPEG</option>
        <option value="svg">SVG</option>
    </select>
    </p>
    
    <p class="submission">
    <button type="submit">Generate map&hellip;</button>
    </p>
</form>
{% endblock %}
