{#
Copyright 2015 Jason Heeris, jason.heeris@gmail.com
 
This file is part of the dungeon excavator web interface ("webcavate").

Webcavate is free software: you can redistribute it and/or modify it under the
terms of the GNU General Public License as published by the Free Software
Foundation, either version 3 of the License, or (at your option) any later
version.

Webcavate is distributed in the hope that it will be useful, but WITHOUT ANY
WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with
webcavate. If not, see <http://www.gnu.org/licenses/>.
#}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block page_title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('webcavate.static', filename='css/style.css') }}">
    </head>
    <body class="{{page_class}}">
    <h1>Dungeon generator</h1>
    
    <p class="description">
    This is a tool for making quick maps for desktop or online role-playing game
    tools. Load up textures for the floor (eg. some nice tiles) and the walls
    (eg. stone), give a cutout of the floorplan, and this tool will make you a
    map with a bit of shading so your players can have a sense of depth.
    </p>

    <p class="state-id">
    Key: <code>{{ key_string }}</code>
    </p>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="errors">
            {% for message in messages %}
                <p>
                <strong>Error:</strong> {{ message }}
                </p>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    </body>
</html>
